[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
databases = "*"
psycopg2-binary = "*"
passlib = "*"
bcrypt = "*"
jose = "*"
python-jose = "*"
starlette = "*"
asyncpg = "*"
pydantic = {extras = ["email"], version = "*"}
fastapi-mail = "*"
pytz = "*"
certifi = "*"
jinja2 = "*"
fastapi = "*"
python-multipart = "*"
pipfile = "*"

[dev-packages]

[requires]
python_version = "3.10"
